/* line 1, app/css/main.less */
body {
  background-color: white;
  margin: 0px;
}
/* line 6, app/css/main.less */
a {
  color: #ec1c24;
  text-decoration: none;
}
/* line 11, app/css/main.less */
.container {
  width: 100vw;
  padding-top: 60px;
}
/* line 17, app/css/main.less */
p,
ul {
  font-family: 'Tajawal', sans-serif;
  font-size: 14pt;
}
/* line 22, app/css/main.less */
ul {
  line-height: 120%;
  font-size: 12pt;
}
/* line 26, app/css/main.less */
ul li {
  margin-bottom: 20px;
}
/* line 31, app/css/main.less */
#header {
  width: 100%;
  box-shadow: 0px 2px 3px 0px rgba(40, 40, 40, 0.1);
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #f7f7f7;
  z-index: 100;
}
/* line 40, app/css/main.less */
#header a {
  color: black;
  font-size: 8pt;
  line-height: 0px;
}
/* line 46, app/css/main.less */
#header #header-container {
  /*max-width: 1024px;*/
  margin: 0px auto;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 54, app/css/main.less */
#header #header-container img {
  max-height: 40px;
}
/* line 59, app/css/main.less */
#header #dmlogo {
  height: 27px;
  margin-top: 6px;
}
/* line 64, app/css/main.less */
#header #beatniklogo {
  height: 30px;
  margin-top: 5px;
}
/* line 69, app/css/main.less */
#header #sponsorLogoContainer {
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 8pt;
  display: inline-block;
  margin-left: -90px;
}
/* line 76, app/css/main.less */
#header #sponsorLogoContainer img {
  vertical-align: middle;
}
/* line 79, app/css/main.less */
#header #sponsorLogoContainer #paidFor {
  margin-right: 3px;
  display: inline-block;
  vertical-align: middle;
}
/* line 87, app/css/main.less */
.parallax {
  height: 50vh;
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
  background-attachment: scroll;
  background-image: url("images/desktop/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 98, app/css/main.less */
#topimg {
  background-image: url("images/desktop/hero.jpg");
  margin-bottom: 70px;
}
/* line 103, app/css/main.less */
#video {
  width: 100%;
  height: auto;
}
/* line 108, app/css/main.less */
.body-text {
  max-width: 600px;
  margin: 0px auto;
}
/* line 112, app/css/main.less */
.body-text img {
  max-width: 100%;
}
/* line 118, app/css/main.less */
.full-width img {
  width: 100vw;
}
/* line 124, app/css/main.less */
.full-height img {
  height: 100vh;
}
/* line 129, app/css/main.less */
.drop-cap {
  font-family: 'Playfair Display', serif;
  float: left;
  line-height: 46px;
  font-size: 50px;
  margin-top: -5px;
  margin-right: 3px;
  margin-left: -8px;
}
/* line 139, app/css/main.less */
.headline {
  font-size: 60pt;
  text-align: center;
  margin: 20px auto 85px auto;
  font-weight: 600;
  line-height: 55pt;
  max-width: 800px;
}
/* line 148, app/css/main.less */
.headline,
.pull-quote {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 100%;
}
/* line 154, app/css/main.less */
.pull-quote {
  font-family: 'Abril Fatface', serif;
}
/* line 158, app/css/main.less */
.headline {
  font-family: 'Abril Fatface', serif;
  font-weight: 100;
}
/* line 163, app/css/main.less */
.blurb {
  font-weight: 700;
  font-family: 'Tajawal', sans-serif;
  margin-bottom: 40px;
  line-height: 112%;
  font-size: 17pt;
}
/* line 172, app/css/main.less */
.pull-quote {
  width: 200px;
  font-size: 23px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 180, app/css/main.less */
.pull-quote-right {
  float: right;
  margin-right: -5px;
  margin-left: 50px;
  margin-top: 10px;
}
/* line 187, app/css/main.less */
.pull-quote-left {
  float: left;
  margin-left: -80px;
  margin-right: 20px;
}
/* line 193, app/css/main.less */
footer {
  margin: 20px;
  margin-top: 40px;
  text-align: center;
  border-top: 1px #DDD solid;
}
/* line 194, app/css/main.less */
footer p {
  font-size: 10pt;
}
/* line 205, app/css/main.less */
#topimg {
  /*margin-left: -100vw;*/
  /*background-color: #000;*/
}
/* line 210, app/css/main.less */
#presidentContainer {
  width: 100vw;
  margin-bottom: 76px;
}
/* line 213, app/css/main.less */
#presidentContainer .overlay {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
/* line 219, app/css/main.less */
#presidentContainer .show-overlay {
  opacity: 1;
}
/* line 224, app/css/main.less */
#presidentContainer .hotspot {
  position: absolute;
  opacity: 0.8;
  /*border: 5px #bfecfd solid;*/
  z-index: 99;
  transition: opacity 0.5s ease-in-out;
}
/* line 235, app/css/main.less */
#presidentMobileContainer {
  width: 100vw;
  margin-bottom: 76px;
}
/* line 238, app/css/main.less */
#presidentMobileContainer .overlay {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
/* line 244, app/css/main.less */
#presidentMobileContainer .show-overlay {
  opacity: 1;
}
/* line 249, app/css/main.less */
#presidentMobileContainer .hotspot {
  position: absolute;
  opacity: 0.8;
  /*border: 5px #bfecfd solid;*/
  z-index: 99;
  transition: opacity 0.5s ease-in-out;
}
/* line 260, app/css/main.less */
#PresidentHotelAd {
  margin-top: 70px;
}
/* line 264, app/css/main.less */
.is-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
}
@media screen and (min-width: 737px) {
  /* line 276, app/css/main.less */
  .show-mobile {
    display: none;
  }
  /* line 280, app/css/main.less */
  .hide-desktop {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  /* line 288, app/css/main.less */
  .pull-quote-right,
  .pull-quote-left {
    float: none;
    width: 100%;
    margin: 40px 0px;
    clear: both;
    text-align: center;
  }
  /* line 296, app/css/main.less */
  .body-text {
    margin: 0px 100px;
    max-width: none;
    display: block;
  }
  /* line 303, app/css/main.less */
  #bottomimg {
    background-size: 100%;
    background-position-y: 50px;
  }
  /* line 308, app/css/main.less */
  .hide-mobile {
    display: none;
  }
  /* line 312, app/css/main.less */
  .show-desktop {
    display: none;
  }
  /* line 316, app/css/main.less */
  #sponsorMobileContainer {
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: #f7f7f7;
    height: 38px;
    text-align: center;
    padding-top: 8px;
    box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.2);
  }
  /* line 325, app/css/main.less */
  #sponsorMobileContainer img {
    height: 30px;
  }
  /* line 330, app/css/main.less */
  #header {
    position: absolute;
  }
  /* line 334, app/css/main.less */
  #header #header-container img {
    max-height: 26px;
  }
  /* line 338, app/css/main.less */
  #dmmobilelogo {
    margin-top: 5px;
  }
  /* line 342, app/css/main.less */
  #PresidentHotelAd {
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  /* line 350, app/css/main.less */
  .body-text {
    margin: 0px 60px;
  }
  /* line 354, app/css/main.less */
  #video {
    height: auto;
  }
  /* line 358, app/css/main.less */
  .headline {
    font-size: 40pt;
    margin: 20px auto 46px auto;
    max-width: 90%;
  }
  /* line 364, app/css/main.less */
  .parallax {
    height: 50vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
  }
  /* line 372, app/css/main.less */
  #topimg {
    background-image: url("images/mobile/hero.jpg");
  }
  /* line 376, app/css/main.less */
  #presidentMobileBackground {
    background-image: url("images/mobile/PresidentHotelMainImageMobile.jpg");
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
  }
  /* line 387, app/css/main.less */
  .sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 15px;
  }
  /* line 397, app/css/main.less */
  #topimg {
    margin-top: 40px;
    background-position: cover;
  }
  /* line 402, app/css/main.less */
  #header #sponsorLogoContainer {
    margin-left: -45px;
  }
}
/* line 408, app/css/main.less */
.fade-container {
  height: 500vh;
}
/* line 412, app/css/main.less */
.fade1 {
  margin: 0px auto;
}
/* line 416, app/css/main.less */
.fade2 {
  opacity: 0;
  transition: opacity 5s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* line 425, app/css/main.less */
.js-is-sticky .fade2,
.js-is-stuck .fade2 {
  opacity: 1;
}
/* line 430, app/css/main.less */
.stick-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 438, app/css/main.less */
.stick-container img {
  flex: 0 1 auto;
  align-self: auto;
}

.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}


/*# sourceMappingURL=app.css.map*/